NODE_ENV=
PORT=

APP_NAME=
APP_URL=
FRONTEND_URL=

MONGODB_URI=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

COOKIE_SECURE=
COOKIE_SAME_SITE=

LOG_LEVEL=

JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
COOKIE_SECURE=
COOKIE_SAME_SITE=

BREVO_EMAIL=
BREVO_SMTP_KEY=
SMTP_PORT=
SMTP_HOST=
BREVO_SMS_SENDER=
BREVO_WHATSAPP_SENDER_NUMBER=

CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=

MASTER_ADMIN_EMAIL=

MASTER_ADMIN_USER_ID=

PUBLIC_FORM_BASE_URL=
SOCIAL_WEBHOOK_SECRET=

PAYTM_ENVIRONMENT=
PAYTM_MID=
PAYTM_MERCHANT_KEY=
PAYTM_WEBSITE=
PAYTM_CALLBACK_URL=
